<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="shortcut icon" type="image/x-icon" href="http://file.uzykj.com/favicon.ico"/>
    <title>您有新的邮件！</title>
    <style>
        body {
            background-image: url("http://file.uzykj.com/mail_backgroud_pic.png");
            background-repeat: no-repeat;
            background-size: 100%;
        }

        .qmbox a, .qmbox a:link, .qmbox a:visited, .qmbox a:active {
            color: #007eff;
            text-decoration: none;
        }

        .qmbox a:hover {
            text-decoration: underline;
        }

        .qmbox * {
            text-rendering: optimizelegibility;
            -webkit-font-smoothing: antialiased;
        }

        .qmbox img {
            -ms-interpolation-mode: bicubic;
        }

        .qmbox table {
            border-collapse: collapse;
            border-spacing: 0;
        }

        .qmbox sup {
            font-weight: 300;
        }

        @media (max-width: 480px) {
            .qmbox div[class=aapl-mobile-div] {
                display: block !important;
                -webkit-text-size-adjust: none;
                height: 100% !important
            }
        }
    </style>
</head>
<body>
<div>
    <div id="qm_con_body">
        <div id="mailContentContainer" class="qmbox qm_con_body_content qqmail_webmail_only" style="">
            <br><br>
            <table border="0" cellpadding="0" cellspacing="0" align="center"
                   style="border-collapse:collapse;border-spacing:0;">
                <tbody>
                <tr>
                    <td valign="top">
                        <div class="aapl-desktop-div"
                             style="display:block;padding:0;margin:0;height:100%;max-height:none;min-height:none;line-height:normal;overflow:visible;">
                            <table class="aapl-desktop-tbl" border="0" cellpadding="0" cellspacing="0" align="center"
                                   style="border-collapse:collapse;border-spacing:0;width:742px;">
                                <tbody>
                                <tr>
                                    <td class="left-gutter" style="width:40px;"></td>
                                    <td>
                                        <img width="42" height="42"
                                             src="http://file.uzykj.com/favicon.ico"
                                             style="border:none;padding:0;margin:0;-ms-interpolation-mode:bicubic;border-radius: 20px;">
                                    </td>
                                    <td zh-cn="zh-cn" false="false"
                                        style="font-size:32px;
                                        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgb(19,19,19)"
                                        th:text="${context.subject}">
                                    </td>
                                    <td class="right-gutter" style="width:50px;"></td>
                                </tr>
                                <tr height="20">
                                    <td colspan="4">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="4" align="center">
                                        <table class="aapl-desktop-tbl" border="0" cellspacing="0" cellpadding="0"
                                               width="660" style="border-collapse:collapse;border-spacing:0;">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <table class="aapl-desktop-tbl"
                                                           style="border: 1px solid white;border-radius:3px;font-size:12px;
                                                           font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;">
                                                        <tbody>
                                                        <tr height="46">
                                                            <td width="320" colspan="2"
                                                                style="padding-left:20px;border-style: solid;border-color: white;
                                                                border-left-width:0;border-right-width:1px;border-bottom-width: 1px;
                                                                border-top-width: 0px;">
                                                                <span style="color:rgb(102,102,102);font-size:10px;">
                                                                    发件人:
                                                                </span>
                                                                <br>
                                                            </td>
                                                            <td width="320" colspan="2"
                                                                style="padding-left:20px;border-style: solid;border-color: white;
                                                                border-left-width:0;border-right-width:1px;border-bottom-width: 1px;
                                                                border-top-width: 0px;">
                                                                <a th:href="@{'mailto:'context.fromAddress}"
                                                                   rel="noopener" target="_blank"></a>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>

                                            <tr height="30">
                                                <td></td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <table class="aapl-desktop-tbl" border="0" bordercolor="#ffffff"
                                                           cellpadding="0" cellspacing="0"
                                                           style="border-collapse:collapse;border-spacing:0;color:rgb(51,51,51);background-color: rgb(250,250,250);border-radius:3px;font-size:12px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;">
                                                        <tbody>
                                                        <tr height="46">
                                                            <td width="640" colspan="2"
                                                                style="padding-left:20px;border-style: solid;border-color: white;
                                                                border-left-width:0;border-right-width:1px;border-bottom-width: 1px;
                                                                border-top-width: 0px;">
                                                                <span style="color:rgb(102,102,102);font-size:10px;">
                                                                    内容:
                                                                </span>
                                                                <hr width="620">
                                                            </td>
                                                        </tr>
                                                        <tr height="46">
                                                            <td width="640" colspan="2">
                                                                <pre style="font-size:10px;margin: 1% 1%;"
                                                                     th:text="${context.content}">
                                                                </pre>
                                                                <br><br>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>

                                            <tr height="30">
                                                <td></td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <table class="aapl-desktop-tbl"
                                                           style="border-collapse:collapse;border-spacing:0;color:rgb(51,51,51);
                                                           background-color: rgb(250,250,250);border-radius:3px;font-size:12px;
                                                           font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;">
                                                        <tbody>
                                                        <tr height="46">
                                                            <td width="640" colspan="2"
                                                                style="padding-left:20px;border-style: solid;border-color: white;
                                                                border-left-width:0;border-right-width:1px;border-bottom-width: 1px;
                                                                border-top-width: 0px;">
                                                                <span style="color:rgb(102,102,102);font-size:10px;">
                                                                    附件:
                                                                </span>
                                                                <hr width="620">
                                                            </td>
                                                        </tr>
                                                        <tr height="30" th:each="item:${context.files}">
                                                            <td width="320" style="padding-left: 3%;"
                                                                th:text="${item.getKey()}">
                                                            </td>
                                                            <td width="320" style="padding-left: 3%;"
                                                                th:text="${item.getValue()}">
                                                            </td>
                                                        </tr>
                                                        <br>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr class="footer-notice-spacer" style="height:20px">
                                    <td colspan="4">&nbsp;</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" align="center" class="footer-notices"
                                        style="font-size:12px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:rgb(102,102,102)">
                                        <pre th:text="${context.sign}">
                                        </pre>
                                        <br><br>
                                    </td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" align="center" dir="auto"
                                        style="font-size:12px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:rgb(102,102,102)">
                                        Copyright © 2021 uzykj.com FP
                                        <br>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr height="25">
                                    <td colspan="4" height="30">&nbsp;</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>